<h1>Registration Form</h1>
<%= form_for :user do |f|%>
	<p>First Name: <br><%= f.text_field :FirstName %></p>
	<p>Last Name: <br><%= f.text_field :LastName %></p>
	<p>Date Of Birth: <br><%= f.date_select :Date_Of_Birth%></p>
	<p>Email Id: <br><%= f.text_field :Email_Id%></p>
	<p>Mobile Number<br><%= f.text_field :Mobile_Number %></p>
	<p>Gender: <br><span>Male</span><%= f.radio_button :Gender, "m"%>
	<span>Female</span><%= f.radio_button :Gender, "f"%>
	</p>
	<p>Address: <br><%= f.text_area :Address%></p>
	<p>City: <br><%= f.text_field :city%></p>
	<p>Pincode: <br><%= f.text_field :pincode %></p>
	<p><%= submit_tag "Create Account" %></p>
<% end %>